@import './variables';

body {
    background-color: $black;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &::after,
    &::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    &:focus {
        outline: none;
    }
}

*::-webkit-input-placeholder {
    color: #c0c0c0;
    opacity: 1;
}

*::-moz-placeholder {
    color: #c0c0c0;
    opacity: 1;
}

*:-moz-placeholder {
    color: #c0c0c0;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #000;
}

body input:required:valid,
body textarea:required:valid {
    color: #000;
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    font-family: $default-font;
    overflow-x: hidden;
    opacity: 1;
}

img {
    max-width: 100%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

#root {
    height: 100%;
}

.select2-selection {
    &__control {
        cursor: pointer !important;
        margin-bottom: 2rem !important;
        border-radius: 10px !important;
        min-height: 48px !important;
        background-color: $purple !important;
        border: 1px solid transparent !important;
        color: #fff;
        font-size: 16px;
        width: 100%;
        text-align: start !important;

        &--is-focused {
            border-color: transparent !important;
            box-shadow: 0 0 0 1px rgba($accent, .3) !important;
        }
    }

    &__menu {
        background-color: $purple !important;
        border-radius: 10px !important;

        &-list {
            padding: 0 !important;
            border-radius: 10px !important;
        }

        &-notice {
            color: #946E86 !important;
        }
    }

    &__option {
        &--is-focused {
            background-color: darken($purple,  5%) !important;
        }

        &--is-selected {
            background-color: darken($purple,  8%) !important;
        }
    }

    &__indicator:hover {
        color: #946E86 !important;
    }

    &__placeholder {
        color: #946E86 !important;
        margin-left: 6px !important;
    }

    &__single-value {
        color: #fff !important;
    }

    &__multi-value {
        border-radius: 6px !important;
        background-color: lighten($purple, 10%) !important;

        &__label {
            color: #fff !important
        }
    }

    &__input {
        color: #fff !important;
    }

}

.dark-link {
    text-align: right;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: lighten($purple, 8%);
    transition: color .3s ease;

    &:hover {
        color: $accent;
    }
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

a {
    text-decoration: none;
}

// Chrome, Safari, Edge, Opera

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Firefox

input[type=number] {
    -moz-appearance: textfield;
}